<!DOCTYPE html>
<html lang = 'en-GB'>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<h1>Welcome to Hogwarts</h1>
<nav>
<a href="/hogwarts">Home</a>
<a href="/hogwarts/new">Enrol New Student</a>
</nav>
<%= yield %>
</body>
</html>