<form method ="post" action="/hogwarts">

<label for="first-name">First Name:</label>
<input type="text" id ="first-name" name="first_name">

<label for="last-name">Last Name:</label>
<input type="text" id ="last-name" name="last_name">

<label for="age">Age:</label>
<input type="number" id="age" name= "age">

<label for="house">House</label>
<select name="house" id="house">

<% @houses.each do |house| %>
  <option value="<% house.name %>"><%= house.name %></option>
<!--   <option value="Slytherin">Slytherin</option>
  <option value="Hufflepuff">Hufflepuff</option>
  <option value="Ravenclaw">Ravenclaw</option> -->
  <% end %>
</select>

<input type="submit" value = "Submit New Student">
</form>

