<form action="/hogwarts/houses" method="post">
<label for="house-name">House name:</label>
<input type="text" id ="house-name" name="name">

<label for="logo">Logo (paste in Link):</label>
<input type="text" id="logo" name= "logo">

<input type="submit" value = "Submit New House">
</form>

<h4>Examples:</h4>
<p>Ravenclaw: http://vignette2.wikia.nocookie.net/harrypotter/images/2/29/0.41_Ravenclaw_Crest_Transparent.png/revision/latest?cb=20161020182442</p>
<p>Hufflepuff: https://vignette2.wikia.nocookie.net/harrypotter/images/5/50/0.51_Hufflepuff_Crest_Transparent.png/revision/latest?cb=20161020182518</p>